<div class="row">
    <div class="col-md-offset-1 col-md-5 divTituloSistema">
        @*<img src="~/Content/img/logo-login.jpg" class="logoIsos">*@
        <h1>CIPP</h1>
        <h2 class="tituloSistema">Certificado de Inspeção para o Transporte de Produtos Perigosos</h2>
        <p class="versao">Versão: 18783 / 13 de dezembro de 2017.</p>
    </div>
    <div class="col-md-4 col-md-offset-1 boxLogin">
        <form action="/Conta/Login" class="form" method="post" novalidate="novalidate">
            <div id="divDetalhe">
                <div class="form-group">
                    <label for="Login">Login *</label>
                    <input class="form-control" data-val="true" data-val-required="Campo obrigatório." id="Login" name="Login" type="text" value="">
                    <span class="field-validation-valid" data-valmsg-for="Login" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="Senha">Senha *</label>
                    <input class="form-control" data-val="true" data-val-required="Campo obrigatório." id="Senha" name="Senha" type="password">
                    <span class="field-validation-valid" data-valmsg-for="Senha" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div id="loginActions">
                <input type="button" class="btn btn-primary" value="Entrar" title="Entrar" id="Entrar">
                <a id="EsqueciMinhaSenha"><span class="glyphicon glyphicon-lock"></span>&nbsp;Esqueci minha senha</a>
            </div>
        </form>
    </div>
</div>
