<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
     -->
  <connectionStrings>
    <add name="CIPP_CONTEXTO"
         connectionString="Data Source=rdes01s; Initial Catalog=scipp;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.serviceModel>
    <client>

      <endpoint address="http://controleacesso-d.inmetro.local/AutenticacaoServico.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAutenticacaoServico"
                contract="ControleAcesso.IAutenticacaoServico"
                name="BasicHttpBinding_IAutenticacaoServico"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>

  <appSettings>

    <add key="DiretorioRaiz" value="C:\CIPP\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="accessToken" value="30b4d2028996cc6c1a8e3fb41e5f410e"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="HoraAgendadaDownload" value= "12"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MinutosAgendadosDownload" value= "45"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailAdministrador" value="scipp-recebe@.inmetro.gov.br/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />


  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>