@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model INMETRO.CIPP.WEB.Models.ExceptionSystem
<h3>Erro</h3>
<br />
<strong class="alert alert-danger alert-dismissable" >@Model.Mensagem</strong>
<br/>
<br />
<p>Houve um erro na aplicação. Por favor, entre em contato com o administrador do sistema.</p>

<p style="margin-top: 30px"><a href="#" onclick="javascript: window.history.back(); return false;" class="btn btn-default">Voltar</a></p>

